---
// Author: Marek Grabowski

import Layout from '../../layouts/Layout.astro';
import ContainerLarge from '../../components/ContainerLarge.astro';
import getVehicleData from '../../utils/getVehicleData'; 


export async function getStaticPaths() {
  const data = await getVehicleData();
  const paths = data.map((vehicle) => ({
    params: {
      vehicle: vehicle.make + "-" + vehicle.model + "-" + vehicle.year, // Use the id as the slug

    },
    props: {
      make: vehicle.make,
      model: vehicle.model,
      year: vehicle.year,
    },
  }));
  return paths;
}

const { make } = Astro.props;
const { model } = Astro.props;
const { year } = Astro.props;
---

<Layout title="TWW Hartford Project.">
	<main>
		<ContainerLarge>
			<h1 class="text-center text-3xl font-medium p-4">{year}&nbsp;{make}&nbsp;{model}</h1>
            <p class="text-center p-4"></p>
		</ContainerLarge>
	</main>
</Layout>