---
import Layout from '../../layouts/Layout.astro';
import ContainerLarge from '../../components/ContainerLarge.astro';
---

<Layout title="TWW Hartford Project.">
	<main>
		<ContainerLarge>
			<h1 class="text-center text-3xl font-medium p-4">Welcome</h1>
		</ContainerLarge>
	</main>
</Layout>