---
import Layout from "../layouts/Layout.astro";
import ContainerSmall from "../components/ContainerSmall.astro";
import LoginComponent from "../components/Login";
---

<Layout title="TWW Hartford Project.">
	<main>
		<ContainerSmall>
			<LoginComponent client:load/>
		</ContainerSmall>
	</main>
</Layout>