---
import Layout from "../layouts/Layout.astro";
import ContainerSmall from "../components/ContainerSmall.astro";
import Signup from "../components/Signup";

---

<Layout title="TWW Hartford Project.">
	<main>
		<ContainerSmall>
			  <Signup client:only="react"/>
		</ContainerSmall>
	</main>
</Layout>