---
import ContainerLarge from "../components/ContainerLarge.astro";
import Layout from "../layouts/Layout.astro";
import { team } from "../utils/teams";
---

<Layout title="Team Worldwide">
  <ContainerLarge>
    <div class="text-center p-4 flex flex-col justify-center space-y-4">
      <h1 class="font-bold text-6xl">Our Team</h1>
      <div class="flex justify-center">
        <p class="text-md max-w-lg">
          We’re a dynamic group of individuals who are passionate about what we
          do and dedicated to delivering the best results for our clients.
        </p>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="flex flex-wrap p-4 justify-center max-w-3xl">
        {
          team.map((person) => (
            <div class="p-8 flex-col rounded-lg flex items-center gap-x-6 text-center w-full lg:w-1/3 ">
              <img class="h-40 rounded-lg" src={person.image} alt="" />
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">
                {person.name}
              </h3>
              <p class="text-sm text-gray-500 leading-6">Co-Founder / CEO</p>
              <p class="text-sm">{person.bio}</p>
            </div>
          ))
        }
      </div>
    </div>
  </ContainerLarge>
</Layout>
