---
// Author: Marek Grabowski
---
<div class="flex justify-center p-4">
    <div class="container min-h-[80vh] border border-gray-300 rounded-md bg-white shadow-md">
        <slot />
    </div>
</div>