---
import Layout from "../../layouts/Layout.astro";
import ContainerLarge from "../../components/ContainerLarge.astro";
import SubNav from "../../components/SubNav.astro";
---

<Layout title="My Account Settings">
	<main>
		<ContainerLarge>
			<div class="flex h-full">
				<div
					class="w-2/5 lg:w-1/5 text-center flex flex-col items-center bg-blue-500 rounded-l-md pt-6 text-white"
				>
					<p>My Account</p>
					<p class="border-t border-b w-2/3 mt-4 pt-4 mb-4 pb-4">
						Saved Vehicles
					</p>
				</div>
				<div class="flex-col w-full rounded-r-md items-center">
					<h1 class="text-center text-3xl font-medium pt-3">
						My Account
					</h1>
					<p class="text-center font-medium text-gray-700">
						View and modify account information
					</p>
					<div
						class="grid grid-cols-3 lg:grid-cols-4 gap-4 p-4 w-full lg:w-1/2 mt-8 mx-auto grid-flow-row items-center"
					>
						<p class="col-span-3 lg:col-span-1 lg:text-right">
							Name:
						</p>
						<p
							class="col-span-3 bg-gray-100 border border-gray-200 p-2 rounded-md"
						>
							Test
						</p>
						<p class="col-span-3 lg:col-span-1 lg:text-right">
							Email:
						</p>
						<p
							class="col-span-3 bg-gray-100 border border-gray-200 p-2 rounded-md"
						>
							Test
						</p>
						<p class="col-span-3 lg:col-span-1 lg:text-right">
							Role:
						</p>
						<p
							class="col-span-3 bg-gray-100 border border-gray-200 p-2 rounded-md"
						>
							Test
						</p>
					</div>
					<form method="POST">
						<div
							class="grid grid-cols-3 lg:grid-cols-4 gap-4 p-4 w-full lg:w-1/2 mt-8 mx-auto grid-flow-row items-center"
						>
							<p class="col-span-3 lg:col-span-1 lg:text-right">
								Current Password:
							</p>
							<input
								class="col-span-3 border border-gray-200 p-2 rounded-md"
								id="password"
								name="password"
								type="password"
								autoComplete="password"
								placeholder="Enter Current Password"
								required
							/>

							<p class="col-span-3 lg:col-span-1 lg:text-right">
								New Password:
							</p>
							<input
								class="col-span-3 border border-gray-200 p-2 rounded-md"
								id="new-password"
								name="new-password"
								type="password"
								placeholder="Enter New Password"
								required
							/>

							<p class="col-span-3 lg:col-span-1 lg:text-right">
								Repeat New Password:
							</p>
							<input
								class="col-span-3 border border-gray-200 p-2 rounded-md"
								id="repeat-password"
								name="repeat-password"
								type="password"
								placeholder="Re-enter New Password"
								required
							/>
							<div class="col-span-1 lg:col-span-2"></div>
							<button
								type="submit"
								class="col-span-2 justify-self-end rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
							>
								Change Password
							</button>
						</div>
					</form>
				</div>
			</div>
		</ContainerLarge>
	</main>
</Layout>
