---
import Layout from '../../layouts/Layout.astro';
import ContainerLarge from '../../components/ContainerLarge.astro';
---

<Layout title="My Account Settings">
	<main>
		<ContainerLarge>
			<h1 class="text-center text-3xl font-medium p-4">My Account</h1>
			<p class="text-center font-medium pb-5">View and modify account information</p>
			<p class="text-center text-sm font-medium pb-5">This application is independant of the Hartford, it is a student project mocking real deployments.</p>


		</ContainerLarge>
	</main>
</Layout>